// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

//Bootstrap breakpoints, men custom breakpoint
$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        mg: 850px,
        lg: 992px,
        xl: 1200px,
        xxl: 1400px,
        xxxl: 1950px,
);

// 2. Include any default variable overrides here
$link-decoration: none;
$primary: #1A2C5D;
$secondary: #0F1933;
$black: #121212;
$white: #F9FEFF;

// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";

// 4. Include any default map overrides here
$custom-colors: (
	"farve": $cyan-400,
);

$theme-colors: map-merge($theme-colors, $custom-colors);

@import "bootstrapComponents";

// 5. Du kan lave styling her...

body {
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
  box-sizing: border-box;
  background: $secondary;
  min-height: 100vh;
}


.background{
  z-index: -1;
  position: absolute;
  inset: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  pointer-events: none;
}

.backgroundimg{
  z-index: -1;
  rotate: 50deg;
  width: 1000px;
  left: -370px;
  top: 80px;
  position: absolute;
  filter: blur(5px);
  pointer-events: none;

  @include media-breakpoint-up (sm){
    width: 1200px;
    left: -410px;
    top: 80px;
    transition: 0.2s ease-in-out;
  }

  @include media-breakpoint-up (md){
    width: 1300px;
    left: -250px;
    top: 100px;
    transition: 0.2s ease-in-out;
  }

  @include media-breakpoint-up (mg){
    width: 1450px;
    left: -300px;
    top: 100px;
    transition: 0.2s ease-in-out;
  }

  @include media-breakpoint-up (lg){
    width: 1500px;
    left: -220px;
    top: 100px;
    transition: 0.2s ease-in-out;
  }

}
.backgroundimg2{
  rotate: 170deg;
  width: 1000px;
  left: -550px;
  top: 650px;
  position: absolute;
  filter: blur(5px);
  pointer-events: none;

  @include media-breakpoint-up (sm){
    width: 1100px;
    left: -540px;
    top: 650px;
    transition: 0.2s ease-in-out;
  }

  @include media-breakpoint-up (md){
    width: 1300px;
    left: -600px;
    top: 820px;
    transition: 0.2s ease-in-out;
  }

  @include media-breakpoint-up (mg){
    width: 1450px;
    left: -600px;
    top: 940px;
    transition: 0.2s ease-in-out;
  }

  @include media-breakpoint-up (lg){
    width: 1500px;
    left: -600px;
    top: 940px;
    transition: 0.2s ease-in-out;
  }

}

.logoimg{
  width: 40px;
  top: 20px;
  left: 20px;
  position: absolute;
  z-index: 2;
  inset: 0;
  overflow-x: hidden;
  overflow-y: hidden;

  @include media-breakpoint-up(sm){
    width: 50px;
    top: 30px;
    left: 30px;
    transition: 0.2s ease-in-out;
  }

  @include media-breakpoint-up(md){
    width: 55px;
    top: 35px;
    left: 35px;
    transition: 0.2s ease-in-out;
  }

  @include media-breakpoint-up(mg){
    width: 60px;
    top: 40px;
    left: 40px;
    transition: 0.2s ease-in-out;
  }

  @include media-breakpoint-up(lg){
    width: 70px;
    top: 50px;
    left: 50px;
    transition: 0.2s ease-in-out;
  }
}

.modal-dialog{
  margin-left: 40px;
  margin-right: 40px;
  display: flex;
  align-items: center;
  min-height: calc(100% - 1rem);
  max-width: none;
 }

.custom-modal{
  border-radius: 25px;
  border: none;
  background: $white;
  box-shadow: 0 10px 40px rgba(0,0,0,0.3);
  width: 100%;
  z-index: 9999;

  .modal-header{
    display: flex;
    justify-content: flex-end;
    padding: 15px 15px 0 0;
  }

  .btn-close{
    background-color: transparent;
    filter:invert(7%) sepia(87%) saturate(2855%) hue-rotate(213deg) brightness(91%) contrast(106%);
    border-radius: 50%;
    opacity: 1;
    margin: 15px 15px 0 0;

    &:hover{
    opacity: 0.8;
    }
  }
}

.modal-body i{
  color: #051933;
}

.contact-row{
  color: #051933;
}

i{
  color: #051933;
  font-size: 2.5rem;
}

span{
  color: #051933;
  font-size: 1.2rem;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
}

.kontaktknap{
  position: relative;
  border-radius: 30px;
  padding: 4px 15px;
  letter-spacing: 1px;
  font-size: 18px;
  margin-top: 20px;
  margin-right: 20px;
  font-family: 'Roboto', sans-serif;
  z-index: 100;

  @include media-breakpoint-up(sm){
    font-size: 20px;
    margin-top: 40px;
    margin-right: 40px;
    transition: 0.2s ease-in-out;
  }

  @include media-breakpoint-up(md){
    font-size: 23px;
    margin-top: 45px;
    margin-right: 45px;
    transition: 0.2s ease-in-out;
  }

  @include media-breakpoint-up(mg){
    font-size: 25px;
    margin-top: 50px;
    margin-right: 50px;
    transition: 0.2s ease-in-out;
  }

  @include media-breakpoint-up(lg){
    font-size: 27px;
    margin-top: 58px;
    margin-right: 55px;
    transition: 0.2s ease-in-out;
  }

}

.container{
  position: absolute;
  margin: auto;
  min-width: 100vw;
  height: 350px;
  z-index: 1;
}

.cirkel1{
  width: 85%;
  height: 100%;
  top: 130px;
  left: 30px;
  rotate: 10deg;
  background: $primary;
  border-radius: 50%;
  position: absolute;
  opacity: 65%;
  pointer-events: none;

  @include media-breakpoint-up(sm){
    left: 58px;
    rotate: 8deg;
    transition: 0.2s ease-in-out;
  }
  @include media-breakpoint-up(md){
    left: 68px;
    rotate: 8deg;
    transition: 0.2s ease-in-out;
  }
  @include media-breakpoint-up(mg){
    left: 90px;
    rotate: 8deg;
    height: 300px;
    width: 90%;
    transition: 0.2s ease-in-out;
  }
  @include media-breakpoint-up(lg){
    left: 78px;
    rotate: 8deg;
    height: 380px;
    width: 90%;
    transition: 0.2s ease-in-out;
  }
}

.cirkel2{
  width: 85%;
  height: 100%;
  top: 130px;
  left: 30px;
  rotate: -25deg;
  background: $primary;
  border-radius: 50%;
  position: absolute;
  opacity: 65%;
  pointer-events: none;

  @include media-breakpoint-up(sm){
    left: 58px;
    rotate: -20deg;
    transition: 0.2s ease-in-out;
  }
  @include media-breakpoint-up(md){
    left: 68px;
    rotate: -15deg;
    transition: 0.2s ease-in-out;
  }
  @include media-breakpoint-up(mg){
    left: 90px;
    rotate: -10deg;
    height: 300px;
    width: 90%;
    transition: 0.2s ease-in-out;
  }
  @include media-breakpoint-up(lg){
    left: 78px;
    rotate: -10deg;
    height: 380px;
    width: 90%;
    transition: 0.2s ease-in-out;
  }
}

.toilet{
  z-index: 4;
  position: absolute;
  top: 270px;
  width: 100%;

  @include media-breakpoint-up(sm){
    top: 285px;
    transition: 0.2s ease-in-out;
  }
  @include media-breakpoint-up(md){
    top: 285px;
    transition: 0.2s ease-in-out;
  }
  @include media-breakpoint-up(mg){
    top: 295px;
    transition: 0.2s ease-in-out;
  }
  @include media-breakpoint-up(lg){
    top: 320px;
    transition: 0.2s ease-in-out;
  }
}

.teksttoilet{
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  margin-bottom: 3px;
  font-weight: 1000;

  @include media-breakpoint-up(sm){
    font-size: 25px;
    transition: 0.2s ease-in-out;
  }
  @include media-breakpoint-up(md){
    font-size: 30px;
    transition: 0.2s ease-in-out;
  }
  @include media-breakpoint-up(mg){
    font-size: 34px;
    transition: 0.2s ease-in-out;
  }
  @include media-breakpoint-up(lg){
    font-size: 40px;
    transition: 0.2s ease-in-out;
  }
}

.tid{
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  font-weight: bolder;

  @include media-breakpoint-up(sm){
    font-size: 45px;
    transition: 0.2s ease-in-out;
  }
  @include media-breakpoint-up(md){
    font-size: 50px;
    transition: 0.2s ease-in-out;
  }
  @include media-breakpoint-up(mg){
    font-size: 55px;
    transition: 0.2s ease-in-out;
  }
  @include media-breakpoint-up(lg){
    font-size: 65px;
    transition: 0.2s ease-in-out;
  }
}

.dato{
  font-family: 'Roboto', sans-serif;
  font-size: 16px;

  @include media-breakpoint-up(sm){
    font-size: 21px;
    transition: 0.2s ease-in-out;
  }
  @include media-breakpoint-up(md){
    font-size: 26px;
    transition: 0.2s ease-in-out;
  }
  @include media-breakpoint-up(mg){
    font-size: 31px;
    transition: 0.2s ease-in-out;
  }
  @include media-breakpoint-up(lg){
    font-size: 38px;
    transition: 0.2s ease-in-out;
  }
}


.userIcon{
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 50px;
  opacity: 10%;
  z-index: 3;
  cursor: pointer;
}

.toiletrengjort{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.goodJob{
  position: absolute;
  top: 33vh;
  left: 33vw;
  width: 350px;
  height: 250px;
  z-index: 200;
  border-radius: 20px;
  font-size: 25px;
}

.tidspunkt{
  width: 20vw;
}

.modal-dialog{
  width: 70vw;
  margin: auto;
}

.modal-content{
  border-radius: 25px;
  padding: 0 20px;
}

.submitBTN{
  width: 100%;
  font-size: 24px;
}

.takBTN{
  width: 100px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}